<h2>Sign Up</h2>
<form action="" id="signupForm" class="form">
    <div>
        <input type="text" id="signupUsername" placeholder="signupUsername" name="signupUsername">
    <input type="password" id="signupPassword" placeholder="signupPassword" name="signupPassword">
</div>
    <button class="btn btn-primary">Signup</button>
</form>

<script src="/js/signup.js"></script>