<form action="" id="signupForm" class="authForm">
    <input type="text" id="signupUsername" placeholder="signupUsername" name="signupUsername">
    <input type="password" id="signupPassword" placeholder="signupPassword" name="signupPassword">

    <button>Signup</button>
</form>

<script src="/js/signup.js"></script>